coverage
python-coveralls
pytest-cov
pytest-mock
pytest-xdist
codecov
# tensorflow=1.10 No! Don't do here, will confuse EC2 AMI. If local, install manually
tqdm
pillow~=8.0.1
numpy
pandas~=1.3.5
astropy
scipy
scikit-optimize
matplotlib
seaborn==0.9.0
# note: photutils requires a c compiler. For Mac/xcode, run `xcode-select --install`
photutils
pymc3
boto3
dvc
gitpython
statsmodels

psycopg2~=2.8.6
yaml~=0.2.5
pyyaml~=6.0
requests~=2.27.1