tensorflow >= 2.3 # Tested on 2.3, 2.4, 2.5.
tqdm
pillow~=9.0.1
numpy
pandas~=1.4.1
scipy
scikit-image
scikit-learn
matplotlib
# python-dateutil==2.8.1  # for boto3
boto3
statsmodels
keras_applications  # for efficientnet
tensorflow_probability >= 0.11  # 0.11 for tf 2.3, 0.14 for tf 2.4
pyarrow
seaborn  # for nice plots
astropy  # for reading .fits (not yet implemented, but likely to be added)

# psycopg2
pyyaml
requests
sqlalchemy